body {
  font-family: "Poppins", sans-serif;
  width: 1140px;
  margin: 0 auto;
}
/* Header Section Design */
.header-container {
  display: flex;
  gap: 100px;
  color: #000;
}
.header-left h2 {
  font-family: PT Serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.62px;
}
.header-left,
.header-right {
  width: 50%;
}
.header-right h4 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.header-right p {
  width: 82%;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
}

/* Main Section Design */

.container {
  width: 100%;
}
.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
  margin-top: 50px;
  width: 100vw;
}
.vertical {
  color: #000;
}
.vertical h4 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2px;
}
.vertical p {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  position: absolute;
  margin-left: 23.5em;
  font-family: PT Serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.vertical img {
  width: 20vw;
}
.special-style {
  margin-top: 3em;
}

/* Footer Section Style */
.footer {
  color: #a9a9a9;
  text-align: center;
  margin-top: 100px;
}
.footer a {
  color: #a9a9a9;
  font-weight: 800;
}

/* Responsive Style for  Small Devices*/

@media screen and (max-width: 575px) {
  body {
    width: 100vw;
  }
  .header,
  .main {
    margin: 0 5px;
  }
  .header,
  .container {
    width: 100vw;
  }
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
  }
  .header-container {
    flex-direction: column;
    gap: 20px;
  }
  .header-left,
  .header-right {
    width: 100vw;
  }
  .header-right p {
    width: 90vw;
    font-size: 16px;
  }
  .vertical img {
    width: 35vw;
  }
  .vertical p {
    margin-left: 9.5rem;
  }
  #special-style {
    margin-top: 0em;
  }
  .responsive-style {
    margin-top: 3em;
  }
}
